VITE_COLLAB_WS_URL=ws://localhost:1234
VITE_USER_POOL_ID=us-east-1_9lrF660Dd
VITE_USER_POOL_CLIENT_ID=2b3o1ckl3t59dme9khiv8clf65
VITE_COGNITO_DOMAIN=
VITE_AUTH_REDIRECT_SIGN_IN=http://localhost:5173/login
VITE_AUTH_REDIRECT_SIGN_OUT=http://localhost:5173/
